services:
  web:
    build: .
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    ports:
      - "8000:8000"
    volumes:
      - ./:/app:delegated
      - ./static:/app/static:delegated
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.dev
    tty: true
