<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}ToDo{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <h1><a href="{% url 'todo:index' %}">My ToDo</a></h1>
        {% block content %}{% endblock %}
    </div>
</body>

</html>
templates/todo/base.html


hhkh